* {
  font-family: Roboto;
}

body {
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #1f2937;
  margin: 0px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px;
}

a,
.hero_subtext {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero_container h1 {
  margin: 0px;
}

.hero_container {
  background-color: #1f2937;
  margin: 0px;
  padding: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  padding-bottom: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}

.hero,
.img {
  flex: 1;
}

.img {
  min-width: 300px;
  min-height: 200px;
  max-width: 400px;
  max-height: 300px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero button {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
}

.cards_section{
    text-align: center;
    
}

figcaption{
    padding-top: 10px;
}

.cards_section h2{
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 36px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap:wrap;
}


.card{
    text-align: center;
    color:gray ;
    width:200px;
    margin: 0px;

}

.card div{
    border: solid 4px #3882f6;
    width: auto;
    height: 200px;
    border-radius: 10px;
}